.card__formula {
  margin: 0;
  font-size: 60px;
  padding: 31px 0 0 40px;
}

.parentElem {
  position: relative;
  top: 0px;
  left: 0px;
}

.parentElemX {
  position: relative;
  top: 0px;
  left: 0px;
}

.parentElemY {
  position: relative;
}
